$normal: 1rem;
$small: 0.65rem;
$error-color: red;
$accent-color: darkslateblue;

.styled-input-wrapper {
  position: relative;
  color: #999;
}

.styled-input-error {
  color: $error-color;
}

.styled-input-error-message {
  height: $normal;
  text-align: left;
  padding-left: $normal;
  font-size: $small;
  white-space: nowrap;
}

.styled-input {
  position: relative;
  width: 100%;
  margin-top: $normal;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
          box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
}

.styled-input-label {
  position: absolute;
  top: $normal;
  left: $normal;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input-with-value {
  font-size: $small;
  top: -$normal;
  -webkit-transition: all 0.125s ease;
          transition: all 0.125s ease;
  pointer-events: all;
}

.styled-input-focused {
  color: $accent-color;
}

.styled-input input,
.styled-input textarea {
  width: 100%;
  display: block;
  padding: $normal;
  border: 0;
  font-size: $normal;
}

.styled-input input:focus,
.styled-input textarea:focus {
  outline: 0;
}

.styled-input textarea {
  font-family: inherit;
  resize: none;
  overflow: auto;
  min-height: 4 * $normal;
  height: 8 * $normal;
}

.styled-input-line {
  background: $accent-color;
  display: block;
  width: 0;
  height: 3px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
          transition: all 0.125s ease;
}

.styled-input-line.styled-input-focused {
  width: 100%;
  -webkit-transition: all 0.075s ease;
          transition: all 0.075s ease;
}

.styled-input-line.styled-input-error {
  background: $error-color;
}
