$normal: 1rem;
$small: 0.65rem;

.wrapper {
  position: relative;
  color: #999;
}

.errorMessage {
  height: $normal;
  text-align: left;
  padding-left: $normal;
  font-size: $small;
  white-space: nowrap;
}

.inputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: $normal;
  -webkit-box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
          box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
}

.label {
  position: absolute;
  top: $normal;
  left: $normal;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  pointer-events: none;
}

.withValue {
  font-size: $small;
  top: -$normal;
  -webkit-transition: all 0.125s ease;
          transition: all 0.125s ease;
  pointer-events: all;
}

.inputWrapper input,
.inputWrapper textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: $normal;
  border: 0;
  font-size: $normal;
  border-radius: 3px;
}

.inputWrapper input:focus,
.inputWrapper textarea:focus {
  outline: 0;
}

.inputWrapper textarea {
  font-family: inherit;
  resize: none;
  overflow: auto;
  min-height: 4 * $normal;
  height: 8 * $normal;
}

.line {
  display: block;
  width: 0;
  height: 3px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
          transition: all 0.125s ease;
}

.lineFocused {
  width: 100%;
  -webkit-transition: all 0.075s ease;
          transition: all 0.075s ease;
}
